---
import { subjects } from "../lib/searchProjects.js";
---

<section class="projects">
    <article class="subjects-list">
        {
            subjects.map((subject) => (
                <div class="subject">
                    <h3 class="subject-title">
                        <a href={subject.url}>{subject.prettyName}</a>
                    </h3>
                    <div class="project-list">
                        <ul>
                            {subject.projects.map((project) => (
                                <a
                                    href={"./" + project.path}
                                    class="project-link"
                                >
                                    <li>{project.name}</li>
                                </a>
                            ))}
                        </ul>
                    </div>
                </div>
            ))
        }
    </article>
</section>

<style>
    .projects {
        width: 40%;
    }
    ul {
        margin: 0;
    }
    h3 {
        margin-top: 0;
    }
    .subjects-list {
        border-radius: 1em;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    }
    .subject {
        background-color: #fff;
        padding: 2em;
    }
    .subject:nth-child(even) {
        background-color: #e9e2e2;
    }
    .subject:first-child {
        border-radius: 1em 1em 0 0;
    }
    .subject:last-child {
        border-radius: 0 0 1em 1em;
    }
</style>
