body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
}

h3 {
    margin: 0;
}

section {
    margin-bottom: 3em;
}

hr {
    margin-bottom: 1.5em;
}

p {
    margin: 0;
}

.onlyprint {
    display: none;
}

.profile-pic {
    width: 240px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.profile-info {
    text-align: right;
}

.contact-info p {
    margin: 0;
}

.exp-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exp-header .space-time {
    text-align: right;
}

.pilcrow {
    text-decoration: none;
    color: #777;
}

.certificate-item {
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #555555;
}

.certificate-item a {
    text-decoration: underline;
}

.certificate-title {
    margin-top: 0;
}

.certificate-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.certificate-header .info {
    text-align: right;
}

@media (max-width: 900px) {
    body {
        font-size: 0.9em;
    }

    main {
        width: 90%;
    }

    .profile-pic {
        width: 180px;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 0.8em;
    }

    main {
        width: 95%;
    }

    .profile-pic {
        width: 120px;
    }
}

@media print {
    .noprint {
        display: none;
    }

    .pilcrow {
        display: none;
    }

    .onlyprint {
        display: inline-block;
    }
}