.catalog {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
}

section {
    margin-top: 6em;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5em;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 5em;
    margin-top: 2em;
}

input {
    width: 100%;
    height: 3em;
    border-radius: var(--border-radius);
}

textarea {
    height: 6em;
    resize: none;
    width: 100%;
    border-radius: var(--border-radius);
}

.search input {
    width: 60%;
}

button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 0 1em;
    height: 3em;
}

button:hover {
    background-color: var(--alt-accent-color);
}

.car {
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 1em;
    box-shadow: var(--box-shadow);
}

.car img {
    width: 360px;
    height: 180px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.car-link {
    text-decoration: none;
    color: black;
}