.catalog {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2em;
    justify-content: space-between;
    margin-top: 5em;
}

section {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.car {
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 1em;
    box-shadow: var(--box-shadow);
}

.car img {
    width: 360px;
    height: 180px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.car-link {
    text-decoration: none;
    color: black;
}