.catalog {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5em;
    justify-content: center;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 5em;
    margin-top: 2em;
}

.search input {
    width: 60%;
    height: 3em;
    border-radius: var(--border-radius);
}

.search button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 0 1em;
    height: 3em;
}

.car {
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 1.5em;
    box-shadow: var(--box-shadow);
}

.car img {
    width: 360px;
    height: 180px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.car-link {
    text-decoration: none;
    color: black;
}