---
import BaseHead from "../components/BaseHead.astro";
import { SITE_NAME, SITE_DESCRIPTION } from "../consts";
import { Colors } from "../colors.ts";
import "@fontsource/montserrat";
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_NAME} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style
	is:global
	define:vars={{
		borderRadius: "1em",
		accentColor: Colors.accent,
		accentHoverColor: Colors.accentHover,
		backgroundColor: Colors.background,
		fontColor: Colors.font,
	}}
>
	html {
		font-family: "Montserrat";
	}
	body {
		background-color: var(--backgroundColor);
		margin: 0;
		min-height: 100vh;
	}
	a {
		color: var(--accentColor);
		transition: color 0.2s ease-in-out;
	}
	a:hover {
		color: var(--accentHoverColor);
	}
</style>
